
$green: #20C20E;

//-----------
//Main CSS
//-----------

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: Lucida Console, Monaco, monospace;
  overflow-x: hidden;
}

#react-container {
  margin: 0;
  padding: 0;
  color: white;
  h1 {
    font-family: inherit;
    font-size: 45px;
    font-style: bold;
    margin: 0;
    padding-left: 4vw;
    padding-bottom: 30px;
  }
  h2 {
    font-family: inherit;
    font-weight: 100;
    font-size: 30px;
    padding-bottom: 30px;
    padding-left: 4vw;
  }

}

#techtable {
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 0 3vw 30px 3vw;

}

#techtable > * {
  flex: 1 0 auto;
  min-width: 200px;
}

#sub-note {
  font-size: 8px;
}

.header-text {
  padding: 10px;
  margin: 10px;
  background-color: $green;
  color: white;
  box-shadow: 0 3px 6px rgba(255,255,255,0.40), 0 3px 6px rgba(255,255,255,0.60);
}

.skill {
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: black;
  box-shadow: 0 3px 6px rgba(255,255,255,0.40), 0 3px 6px rgba(255,255,255,0.60);
}

.faded {
  opacity: 1;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

#menu {
  flex: 0 1 auto;
  margin: 0;
  width: 350px;
  padding: 4vw;
  background-color: #000;
  z-index: 1;

}

#menu-on {
  flex: 0 1 auto;
  margin: 0;
  width: 350px;
  padding: 4vw;
  background-color: #000;
  z-index: 1;
}

#menu-controller {
  display: none;
}

#view {
  flex: 1 1 auto;
  width: 300px;
  margin: 0;
  padding: 4vw;
  background-color: #000;
  z-index: 0;
}


.submit-button {
  border: 0px;
  background-color: white;
  color: black;
  padding: 8px;
  margin: 16px;
  cursor: pointer;
  &:active {
    background-color: #1976D2

  }
}

.menuitem {
  width: 200px;
  cursor: pointer;
  background-color: white;
  color: black;
  display: block;
  padding: 10px;
  margin: 10px auto 10px auto;
  &:hover {
    text-decoration: underline;
  }

}

.header-image {
  border-radius: 100px;
  filter: grayscale(100%);
  display: block;
  margin: 0 auto 0 auto;
  image-rendering: pixelated;
}

.label-text {

  font-size: 10px;
  text-align: center
}

.created-with {
  padding-left: 77px;
  font-size: 10px;
  font-align: left;
}

.spacer {
  margin-top: 40px;
}


.icons {
  fill: white;
}

#chart3 {
  width: 300px;
  margin: 0 auto 30px auto;
}

#blink {
	opacity: 0;
	animation: cursor 1s infinite;
}

#highlight {
  background-color: $green;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


.icons {
  cursor: pointer;
}


//-----------
//Viewport Adjustments
//-----------


/* Small Device Rendering */

@media screen and (max-width: 850px) {

  #menu {
    position: absolute;
    width: 100vw;
    opacity: 0;
    z-index: -1;
  }

  .faded {
    opacity: 0.1;
  }

  #menu-on {
    position: absolute;
    width: 100vw;
    opacity: 1;
    z-index: 2;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    animation: menu-in 0.5s;
  }

  #menu-controller {
    z-index:2;
    font-size: 25px;
    display: block;
    padding: 20px;
    width: 100vw;
  }

  @keyframes menu-in {
  	0% {
      opacity: 0;
  	}
  	100% {
  		opacity: 100;
  	}
  }

  @keyframes menu-out {
  	0% {
      left: 0;
  	}
  	100% {
  		left: -100vw;
  	}
  }

}
